{% extends "layout.html" %}

{% block title %}
    Project 1: Register
{% endblock %}

{% block body %}
<div class="card mx-auto border-primary" style="width: 400px">
    <div class="card-body">
        <h5 class="card-title">Register as a user.</h5>
        <form action="" method="POST">
            <div class="form-group">
                <label for="user_input">Username:</label>
                <input type="text" name="username" class="form-control" id="user_input" placeholder="Enter a username" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="pass_input">Password:</label>
                <input type="password" name="password" class="form-control" placeholder="Enter a password">
            </div>
                <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>   
{% endblock %}