$myColor: lightseagreen;    // scss variable
$myFont: 'Montserrat', sans-serif;
$myFontBody: 'Lato', sans-serif;

@media (max-width: 600px) { // media query

    p, body{
        background-color: lightyellow;
    }
    table{
        width: 100%;
    }
}
h3 {
    font-family: $myFont;
}
h1 {
    @extend h3; // scss inheritance
    color: $myColor;
    padding-top: 20px;

}
p, body {
    font: { // scss nesting
        family: $myFontBody;
        size: small;
    }
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 70%;
    color: #333;
}
.table-text {
    text-align: left;
}
.col {
    margin-top: 10px;
}
th {
    background-color: $myColor;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.middle-1 {
    height: auto;
}
.list {
    margin-top: 40px;
    color: #333;
}

.refs { 
    font: {   // scss nesting 
    weight: bold;
    size: 20px;
}
    color: $myColor;
    margin-top: 40px;
}

.img {
    width: 20%;
}
.other {
    margin-top: 20px;
}